
/* generic class used to center align a containing elements horizontall */
html{ overflow-y: scroll;overflow-x: scroll;scroll-behavior: smooth;}
*, *::before,*::after{transition:all 0.2s ease-in-out; list-style: none;}
.container.fluid{
	margin-top: 2px;
}
h1, h2, h3, p, h4, h5, h6, .heading{
	font-family:"Fira Code", monospace;
	margin:0;
	line-height: normal;
	font-weight:normal;
}
body{
	background-color: white;
	color:black;
}
.wrapper{

	margin:0 auto;
	width:100%;
	
}
/* navbar*/
.social-icon{
 margin:5px 0px 5px 200px; padding:0; list-style: none; text-align: center;;

}
 
.social-icon a{
        position:relative;
        top:-5px;
	display:inline-block;
	background-color: #E6E6E6;
	width:18px;height: 18px; line-height: 18px;  /* */
	font-size: 12px;
	text-align: center;
	color:blue;
	
	
	background-color: #E6E6E6;
}
      
.social-icon li{

	
	/* */
	margin:0 10px 0 0;
	padding: 0;
	line-height: normal;
	display:inline-block;
        text-align: center;
	
	
	
}

.question{
    display:inline-block;
	background-color: #E6E6E6;
	width:15px;height: 15px; line-height: 15px;  /* */
	font-size: 10px;
	text-align: center;
	color:green;
    
}

#barr .navbar-nav .nav-item {
  display:flex;
  color: white 
}

.user1 .nav-item p{

	color: white;
}

#barr .navbar-nav .nav-item::before{
  content: "|";
  margin-right: 9px ;
  align-self: center;
  color:inherit;
}
#barr .navbar-nav .nav-item:first-child::before{
  content: "";
  margin-left: 0 ;
 
}

.social-icon a:hover{
 
color:#FFF;
}

.faicon-facebook:hover{

	background-color:#3B5998 !important;
}

.faicon-twitter:hover{

	background-color:#00ACEE !important;
}

/* Beginning Introductory*/
#header header{height: 3rem;}
#header h1{font-size:2rem;letter-spacing: 1.5px;}
#header h2{font-size:1.6rem;}
#header a{color:inherit;
text-decoration-line: none;}
#header .t3{font-family:ubuntu,sans-serif; font-weight:300;}
#header h1:hover{color:#28A745 !important; cursor:pointer;}

@media screen and (max-width: 992px){
#header h1{font-size:1.5rem; letter-spacing: 1.0px;}
#header h2{font-size:1.3rem;}
#header .flex-row{flex-direction:column !important;}


}

@media screen and (max-width: 576px){

#header h2{font-size:1rem;}


}

/* End Introductory*/
/* Begin Overlay*/

#cover-image #pageintro{padding: 180px 0; }
#cover-image #pageintro .heading{
	margin-bottom: 15px;
	
	font-family:'Dancing Script',cursive;
	font-size:5rem;
	
}

#cover-image #pageintro p{margin-left:100px; text-transform: uppercase;font-size:0.5rem;
	font-family:"Fira Code", monospace;}
#cover-image #pageintro article{display: block;overflow: hidden;}

 #cover-image{
     
     	background: url(../img/rat2.jpg) fixed center no-repeat;
	height: 900px;
	background-size: cover;
	 

}

.overlay{
	
	color:white;
	background-color:black;
	position:relative;
	z-index: 1;
}
.overlay::after{
	color:white;
	background-color:rgba(0, 0, 0, 0.4); 
	position:absolute;
	display: block;top:0; left:0;
	width: 100%;
	height: 100%;
        z-index:-1;
	
	content: "";
}

/* media queries*/

 @media screen and (max-width: 992px){
	#pageintro .heading{font-size: 6rem !important;}
}
@media screen and (max-width: 768px){
	#pageintro .heading{font-size: 5rem !important;}
	#pageintro .pl-5{padding-left: 0 !important; }
	#pageintro .ml-5{margin-left: 0 !important; }
	#pageintro p, #pageintro .btn{font-size:1rem !important;}
}
@media screen and (max-width: 576px){
	#cover-image #pageintro .heading{font-size: 5rem !important; margin-bottom: 20px !important;}
	#pageintro footer.mt-5{margin-top: 20px !important;}
	#pageintro footer.pt-5{padding-top: 2px !important;}
	#cover-image #pageintro .heading{
	margin-bottom: 10px;
}

#cover-image #pageintro p{margin-bottom: 70px; margin-left: 65px; font-size:12px; }




}
/* End overlay Image*/

.ct1 li{

	margin-left: 20px;
}

.ct2 h5{

	margin-left: 70px;
}

.ct1 .en, .ct1 .ph, .ct2 .en, .ct2 .ph{

	background-color: inherit;
	width:18px;height: 18px; line-height: 18px;  /* */
	font-size: 10px;
	text-align: center;
	color:white;
	display:inline-block;
	
	

}


/* Begin fprofile*/


#fprofile{

	background-color: #E5E4E2;
	text-align: center;
}
.fprofile1{
	padding-top:150px;
}

.fprofile1 h4{
 background-color: rgb(0, 0, 0, 6);
 margin:auto;
 color:#FFF;
 padding:10px 0px 10px 0px;
 text-align: center;
 border-radius:15px 15px 0px 0px;

}

.main{
	margin-top:2px;


}


.location{
	width:100%;
	height:100px;
}
.Clocation{

	position: relative;
	left:-20px;
	width:150px;
	top:-30px;
	line-height: 20px;
	font-size: 16px;

}

.Harea{

	position: relative;
	left:160px;
	width:150px;
	top:-63.5px;
	line-height: 20px;
	font-size: 16px;

}



.Clabel{

	position: relative;
	left:-180px;
	width:150px;
	top:-9px;
	line-height: 20px;
	font-size: 12px;
    text-transform: capitalize;
    color: #ABB2B9;
}

.Hlabel{

	position: relative;
	left:20px;
	width:150px;
	top:-40px;
	line-height: 20px;
	font-size: 12px;
    text-transform: capitalize;
    color: #ABB2B9;
}
.Pnumber{

	position: relative;
	left:-13px;
	width:100%;
	top:-65px;
	line-height: 20px;
	font-size: 12px;
    
    color: #ABB2B9;
}

.Plabel{

	position: relative;
	left:0px;
	width:180px;
	top:-64px;
	line-height: 20px;
	font-size: 12px;
    text-transform: capitalize;
    color: #ABB2B9;
}


.profession{

	position: relative;
left:-35px;
	width:110px;
	top:-63.5px;
	line-height: 20px;
	font-size: 12px;
}

.Plevel{

	position: relative;
	left:-145px;
	width:50px;
	top:-37px;
	line-height: 20px;
	font-size: 12px;
    text-transform: capitalize;
    color: #ABB2B9;
}

.hustle{

	position: relative;
    left:-70px;
    width:100px;
    top:-62px;
    font-size: 12px;
    line-height: 20px;

    }

.Hlabel2{

position: relative;
	left:80px;
	width:50px;
	top:-70px;
	line-height: 20px;
	font-size: 12px;
    text-transform: capitalize;
    color: #ABB2B9;
	
}

.Elevel{
	position: relative;
    left:100px;
    padding:3px 0px;
    width:100px;
    top:-95px;
    font-size: 12px;
    line-height: 30px;

}

.Employed{

   position: relative;
    left:-20px;
    width:100px;
    top:-62px;
    font-size: 16px;
    line-height: 20px;
}

.radio{
	position: relative;
    left:-40px;
    text-align: center;
     top: -83px;
    font-size: 13px;
    line-height: 20px;
}

.Vstation{
	position: relative;
    left:-10px;
    width:100%;
    text-align: center;
     top: -75px;
    font-size: 13px;
    line-height: 20px;

}
.Vlabel{
position: relative;
	left:20px;
	
	top:-80px;
	line-height: 20px;
	font-size: 12px;
    text-transform: capitalize;
    color: #ABB2B9;

}

.submit{
  
  	position: relative;
    left:-10px;
    width:100%;
    padding:5px;
    text-align: center;
     top: -60px;
     background-color: green;
    font-size: 13px;
    line-height: 20px;

}
/* End fprofile*/