 
html{ overflow-y: scroll;overflow-x: scroll;scroll-behavior: smooth;}
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color:#b3e6ff;  
  
}  
button {   
       background-color: #00ccff;   
       width: 100%;  
        color: orange;   
        padding: 10px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid #f1f1f1;  
        
	width: 300px;
	margin: 0 auto;
	 
    }   
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid #666699;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
 
     
 .container {   
        padding: 25px;   
        background-color:#fbf9f8;  
    }   
	.cont{
	width: 350px;
	margin: 0 auto;
	background-color:black;
	}
	.cent{
	color:white;
	text-align : center;
	padding-top:15px 25px;
	padding-bottom:20px;
	}
	
	header{height:150px;
	text-align : center;
	}
