html,
body {
  height: 100%;
}

body {

  display: flex;
 
  
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
}
.con{
 max-width: 600px;
  margin: auto;
  background: white;
  
}

.con.p{
	text-align: center ;
}

html{ overflow-y: scroll;overflow-x: scroll;scroll-behavior: smooth;}

label {
    text-align: left !important;
}